.text-center{
    margin-top: 40px;
}

#login{
    margin-top: 50px;
}

#cima{    
    height: 80px;
}

#cima img{
   width: 1400px;
   height: max-content;  
}

#baixo{  
    height: 180px;
    margin-top: 50px;
}

#login-row{
    background-color: rgba(128, 128, 128, 0.178);
    margin-left: 100px;
    margin-right: 100px;
}

#frasezinha{
    font-weight: 200;
    margin-top: 20px;
    margin-bottom: 20px;
}

h5{
    color: rgb(150, 150, 150);
}
.btn-info
{
    margin-left: 20px;
}